*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* .carousel-item{
    height: 32rem;
    width: 32rem;

    background:#777;
    color: white;
    position: relative;
}

.container{
    position: absolute;
    
    right:0;
    bottom: 0;
    padding-bottom: 50px;
} */



body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
/* 
.wrapper{
    display: flex;

}

.wrapper .static-txt{
    font-size: 60px;
    font-weight:400;
}

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li{
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    color:Red;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@Keyframes slide{
    100%{
        top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-left: 2px solid black;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {

    40%, 60%{
            left: calc(100% + 30px);
    }
    100%{
       left: 0;
    }
}
 */

.run{
    animation-name: run;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes run {
    0%   { left:0px; top:0px;}
    25%  {left:20px; top:0px;}
    35%  {left:100px; top:300px;}
  50%  {left:200px; top:200px;}
  75%  { left:0px; top:200px;}
  100% { left:0px; top:0px;}
}