*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Protest Riot', sans-serif;
}

.container{
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.page{
    /* border: 2px solid black; */
    width: 500px;
    height: 100vh;
    background-color: white;
    border-bottom: none;
    background-color: #E3E7AF;
}
.heading{
    text-align: center;
}



.check{
    display: flex;
    align-items: center;  
    
}



.check label{
    cursor: pointer;
    display: flex;
}

.check input[type='checkbox']{
    opacity: 0;
    cursor: pointer;    
}



.check label::before{
    content: '';
    width: 1em;
    height: 1em;
    border: .05em solid black;
    border-radius: .15em;
    margin-right: .5em;
}

.check label:hover::before,
.check input[type="checkbox"]:hover + label::before{
    background-color: #E3E7AF;
}

.check input[type='checkbox']:focus +label::before{

    box-shadow: 0 0 20px black;
}
.check input[type='checkbox']:checked + label::before{
   content: '\002714';
    background: #27AE60;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
} 


.row{
    margin-right: 20px;
    background-color: #E3E7AF;
}


.line{
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    border-style: none;
    border-bottom: 2px solid black;
    font-size:20px;
    outline: none;
    position: relative;
    background-color: #E3E7AF;
    margin-left: 0px;

  
}



.dateTime{
    text-align: center;
}

.day{
    font-family: 'Cedarville Cursive', cursive;
    
}



/* this is supposed to be an animation */
